/*General style for mobile*/

html , body {
    background-color: white;
    margin: 0px;
}

.wrapper {
    width: 100%;
    max-width: 100%;
}

/*Nav bar: logo, nav panel, search icon*/
.nav-bar {
    background-color: #F3F7F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.nav-list li {
    list-style-type: none;
    font-size: larger;
    text-align: center;
    width: 100%;
    padding: 0.75rem;
}

.nav-list li a{
    text-decoration: none;
    color: #A93F55; 
    width: 100%;
}

/*Animation nav: hover*/
.nav-list ul li{
    transition: background-color 0.4s;
}

.nav-list li:hover {
    background-color: #A93F55;
}

.nav-list li:hover a{
    color: #F3F7F0;
}

.top-logo img{
    width: 100%;
    max-width: 150px;
    height: auto;
}

.search form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    
}

/*Main banner*/

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(./../images/coffeshop.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    width: 100%;
    color: #F3F7F0;
}

.banner-wrapper {
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.75);
}
.banner-title {
    font-size: 2rem;
    color: #F3F7F0;
    margin: 20px;
}

.banner-button {
    text-decoration: none;
    color: #F3F7F0;
}

.banner-button p{
    border: #F2545B;
    background-color: #F2545B;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 10px 20px 10px 20px
}


/* Collection content */
.collection-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.collection-content section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collection-content section:nth-child(2){
    padding-bottom: 50px;
}

.collection-content h2 {
    align-self: center;
    color: #A93F55;
    font-size: 35px;
}

.collection-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px
}

.collection-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.collection-item a{
    font-size: larger;
    color: #19323C;
    text-decoration: none;
    margin: 15px;
}
/* footer */

footer {
    width: 100%;
    background-color: #A93F55;
}

.footer-wrapper {
    padding: 0 20px;
}

.footer-links {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links a{
    color: #F3F7F0;
    text-decoration: none;
    font-size: larger;
    margin: 15px;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-logo img{
    width: 100%;
    max-width: 100px;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    max-width: 50%;
    margin: 20px;
    color: #19323C;
}

.copyright {
    margin: 10px;
}
/* about us */
.about-us-wrapper {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title {
    align-self: flex-start;
    color: #A93F55;
    font-size: 2rem;
    margin: 30px 0;
}

.about-us-image img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.about-us-content {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: large;
}

.about-us-content a {
    align-self: flex-end;
}
/* contact us */
.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
.contact-title {
    align-self: flex-start;
    color: #A93F55;
    font-size: 2rem;
    margin: 30px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: larger
}
.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-form button{
    background-color: #F2545B;
    color: #F3F7F0;
    width: 20%;
    margin: 20px 0px;
    align-self: flex-end;
    border: #F2545B;
    font-size: 1rem;
    border-radius: 9px;
    padding: 5px 20px 5px 20px;
}
textarea {
    height: 150px;
}

@media screen and (min-width:600px) {
    .contact-form form {  
        display: grid;
        grid-template-columns: 0.3fr 1.3fr 1.4fr 1fr;
        grid-template-rows: repeat(4, 0.5fr);
        gap: 10px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "name input-name message message"
          "phone input-phone input-message input-message"
          "email input-email input-message input-message"
          "send send send send";
        }
    
    #name { grid-area: name; }
    
    #input-name { grid-area: input-name; }
    
    #phone { grid-area: phone; }
    
    #input-phone { grid-area: input-phone; }
    
    #email { grid-area: email; }
    
    #input-email { grid-area: input-email; }
    
    .contact-form form button { grid-area: send; }
    
    #message { grid-area: message; }
    
    #input-message { grid-area: input-message; }

}
